main {
    display: flex;
    flex-direction: column;
}



input[type="checkbox"] {
    display: none;
    border-radius: 50%;
    


}

input[type="checkbox"] + label:before,
 input[type="checkbox"] + label:before {
    border-radius: 50%;
    border: 1px solid #5d5c5c;
    content: "";
    display: inline-block;
    height: 1rem;
    vertical-align: center;
    width: 1rem;
    margin: -.2rem 1rem;
    
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:checked + label:before {
    background: var(--purple);

}

.control-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.title {
    text-align: center;
    margin-top: 4rem;
}

.card-title {
    padding: 0 2rem;

}
.card-title::after {
    content: '';
    width:6.5rem;
    background-color:var(--purple);
    position: absolute;
    
    height: 6px;
    bottom: 1px;
    top: 190px;
    border-radius: 15px;
}


.control .login-link {
    color: var(--purple);
    padding-left: 5px;
}

