.indicator {
    height: 6px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.indicator span {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
